*{margin:0;padding: 0;}
html{width: 100%;height: 100%;}

body{background: url(下载.png) #D4D5D6 bottom center no-repeat ;font-family: "微软雅黑",sans-serif;}
#header a.pull-right{float: right;}
#header{width: 100%;}
#header ul{list-style-type: none;text-align: center;}
#header a{display:inline-block; float:left;padding:5px 15px;text-decoration: none;color:#666666; text-align: center; }
#header a:hover,#header a.active,#header,a:active{color:#806179; text-shadow:-1px -1px 2px rgba(33, 44, 44, 0.2);}
#header-container {width: 100%;margin: 0 auto;}
#header .logo-bar-wrap{
	z-index: 1;
	margin-top: 70px;
	height: 55px; 
	background: #AF9DAA;
	background: -webkit-gradient(linear,center top,center bottom,from(#AF9DAA), to(#8C7686));
	background: -moz-gradient(linear,center top,center bottom,from(#AF9DAA), to(#8C7686));
	background: -o-gradient(linear,center top,center bottom,from(#AF9DAA), to(#8C7686));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#AF9DAA, endColorstr=#8C7686);/*IE<9>*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#AF9DAA, endColorstr=#8C7686)";/*IE8+*/
	box-shadow: 0 -2px 2px 2px rgb(105,73,97),
				0 0px 5px 2px rgba(222, 222, 222,0.6) inset;
	border-top: 1px solid rgba(255, 255, 255, 0.8);
	border-bottom: 1px solid rgba(55, 55, 55, 0.2);
}
#header .menu-bar{padding-top: 5px;}
#header .menu-bar-wrap{
	height: 43px;
	background: url(large_leather.png) 0 0 repeat; 
	box-shadow: 0 -2px 1px 1px rgba(33, 33, 33, 0.3) inset,
				0 2px 1px 1px rgba(222, 222, 222, 1),
				0 4px 4px 1px rgba(33, 33, 33, 0.3);


}
#header .menu-bar,#header .logo-bar{
	width :760px;
	margin: 0 auto;
}
#logo{	
	z-index: 1;
	background:rgba(219, 210, 217, 1);
	background: -webkit-linear-gradient(top, rgba(219, 210, 217, 1) 0%, rgba(255, 255, 255, 1) 50%,rgba(255, 255, 255, 0.5) 100%);
	background: -moz-linear-gradient(top, rgba(219, 210, 217, 1) 0%, rgba(255, 255, 255, 1) 50%,rgba(255, 255, 255, 0.5) 100%);
	background: -o-linear-gradient(top, rgba(219, 210, 217, 1) 0%, rgba(255, 255, 255, 1) 50%,rgba(255, 255, 255, 0.5) 100%);

	padding: 0 !important;
	position: absolute;
	left: 45%;
	top:20px;
	border:1px solid rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 2px 1px rgba(66, 66, 66, 0.2);

	border-radius: 100%;
	width: 130px;
	height:130px;
}
#logo-span ,#logo-span2{
	z-index: -1;
	padding: 0 !important;
	position: absolute;
	left: 44.7%;
	top:15px;
	border-radius: 100%;
	width: 130px;
	height:130px;
	border: 5px solid #AF9DAA;
	box-shadow: 0 0 5px 10px rgba(215, 213, 217,1),
				0 0 0px 11px rgba(33, 33, 33, 0.2);
}
#logo-span2{
	z-index: -2;
	top:30px;
}
#logo img{
	margin-top: 40px;
	border: none;
	z-index: 1;
	width: 86px;
	height: 45px;
	background: url(logo.png) center center no-repeat;
}